/*home*/
*
{
    margin: auto;
    padding: auto;
}
.hea
{
    background-color: skyblue;
    color:white;
    padding:5px ;
    padding-left: 1020px;
    
}
.hea1
{ 
    position: -webkit-sticky;
    position: sticky;
    top:0;
    z-index:1 ;
    
   
}
p span
{
   color: skyblue;
   padding: 20px;
}
.t1
{
    font-family: forte;
    font-size: 50px; 
    text-align: left;
    margin-right: 200px;
}
a:hover
{
    color:skyblue;
    text-decoration: underline;
}
a:link
{
    text-decoration: none;
    color:grey; 
    padding: 20px;
}
:visited
{
    color:grey;
}
#tab1
{
    width:1200px;
   padding-left: 100px;
}
#pic1
{
    background-image:url(pictures/h2.jpg) ;
    width:1200px;
    height:500px;
    
}
#h2
{
    background-color: black;
    opacity:0.3;
    width:900px;
    height:300px;
    color:white;
    font-size: 50px;
    padding:50px;
    padding-left: 0px;

}
nav
{
    margin-left:230px;
   
}
#g
{
    padding-left: 0px;
    
}
#hk
{
    width:50%;
    margin-left: 0px;
   
}

input
{
    padding: 20px;
    
}
#p7
{
    font-family:forte;
    font-size:30px; 
    padding-left: 600px;
}
.h9
{
    padding-left: 700px;
    
}
#sel
{
    padding: 15px;
    width:220px;
}
button
{
    background-color: skyblue;
    width:100%;
}
#d
{
    background-color: skyblue;
    width:100%;
    /* padding: 3px; */
}
footer
{
    width:80%;
    padding: 10px;
    background-color: black;
    color:white
   
}